.header {
  text-align: center;
}
.title-capitalize {
  text-transform: capitalize;
}
.add-book-form__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.add-book-form__modal-container {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: beige;
  width: 76%;
  margin: 21% auto;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  float: right;
  margin-right: 12px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
h1,
p {
  font-family: Bright, Georgia, serif;
}
.header__subtitle {
  font-size: smaller;
  width: 52%;
  display: block;
  background-color: #fff5ee;
  margin: 0 auto;
  border-top: dashed 1px black;
}
.header__subtitle > a:nth-child(1) {
  text-decoration: none;
}
html {
  background-color: #fff8dc;
  text-align: center;
}
h1 {
  line-height: 21.8px;
}
a {
  text-decoration: none;
}
.custom-icon-btns {
  border-style: ridge;
  padding: 0.8rem;
  border-color: #000;
  width: 9.3rem;
}

.open-add-book-form__btn {
  text-align: right;
  background: url("./resources/add.svg");
  background-repeat: no-repeat;
  background-position: 9px 4px;
}

.credits__btn {
  display: inline-block;
  position: relative;
  width: 14.18rem;
}

.credits__btn::before {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  top: 35%;
  left: 25%;
  z-index: -1;
  background: url("./resources/arrow.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  transition: 0.1s linear;
}

.credits__btn--rotate-arow::before {
  transform: rotate(180deg);
  top: 17%;
}

.credits__msg {
  width: 16rem;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 0.25rem;
}

.credits__msg-list {
  list-style-type: square;
}

.credits__msg-end {
  text-align: center;
  margin-top: -0.87rem;
}

.header__title {
  font-size: 2rem;
  margin: 0 auto;
  background-color: bisque;
  width: 66%;
  padding: 2%;
}
.app-wrapper {
  width: 53%;
  margin: 0 auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 2rem 0;
}
.new-book-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10%;
}
#fpages {
  width: 63px;
  margin: 0 auto;
}
#new-book-form__submit {
  background-color: bisque;
  width: 99px;
  margin: 0 auto;
  padding: 12px;
}
.credits__msg--hidden {
  display: none;
}

.view-code-btn {
  display: flex;
  background-image: -webkit-linear-gradient(
    -70deg,
    rgb(146, 194, 250),
    rgb(221, 143, 190)
  );
  border-radius: 10px;
  width: 11rem;
  text-decoration: none;
  color: #000;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10px;
  margin: 1.1rem auto 0;
  border: 3px solid #d4cea7;
}

.view-code-btn:active {
  width: 10rem;
  height: 5.9rem;
  filter: brightness(1.2);
}

.view-code-btn__icon {
  display: block;
  align-self: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  margin-top: 1.18rem;
  background: url(./resources/github.svg) no-repeat center;
}

.view-code-btn__label {
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.no-style-anchor {
  color: #000;
  text-decoration: none;
}
